.description{
    width: 100%;
    position: relative;
}

.description-wrapper{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.description-title{
    font-size: 2.3rem;
    font-weight: bold;
    line-height: 4rem;
}

.description-paragraph{
    color: var(--bs-gray);
}